<div [formGroup]="addressForm">
    <!-- Address Input -->
    <div class="mb-3">
        <label for="address">Address<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" id="address" formControlName="address" placeholder="Address">
        <!-- Error Message for Required Field -->
        <div *ngIf="f.address.errors?.required && f.address.dirty" class="required-message text-danger">
            <small>Required Field!</small>
        </div>
    </div>
    <!-- Pincode Input -->
    <div class="mb-3">
        <label for="pincode">Pincode<sup class="text-danger">*</sup></label>
        <input type="text" class="form-control" id="pincode" formControlName="pincode" placeholder="Pincode">
        <!-- Error Message for Required Field -->
        <div *ngIf="f.pincode.errors?.required && f.pincode.dirty" class="required-message text-danger">
            <small>Required Field!</small>
        </div>
    </div>
</div>